@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #F9FAFB;
    font-family: "Inter", sans-serif;
}

.sidebar{
    position: fixed;
    background-color: white;
    width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
}

.fs-4{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    color: #008797;
}

.fs-6{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    color: #80C3CB;
}

.nav-item{
    margin-top: 50px;
}

.text-nav{
    font-size: medium;
    font-weight: 400;
    color: #6B7280;
}

.text-nav-act{
    font-size: medium;
    font-weight: 400;
    color: white;
}

.bi{
    color: #6B7280;
}

.bi-act{
    color: white;
}

.content{
    margin-left: 250px;
}

.navbar{
    width: calc(100%);
    background: white;
    height: 90px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.navbar .navbar-item{
    display: flex;
    align-items: center;
    gap: 24px;  
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 28px;
    background: white;
    outline: auto;
    outline-color: #9CA3AF;
}

.search-input{
    font-size: 16px;
    color: #9CA3AF;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

.bi-nav{
    color: #9CA3AF;
    margin-left: 14px;
}

.search-input::placeholder{
    color: #9CA3AF;
    font-size: small;
}

.navbar-brand{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: larger;
}

.table-data{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    width: 50%;
    margin-left: 30px;
}

.table-data > div{
    border-radius: 20px;
    background: white;
    padding: 24px;
}

.table-data .head{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.table-data .head h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.table-data .book{
    flex-grow: 1;
    flex-basis: 500px;
}

.status{
    align-items: center;
}

button{
    margin-left: 12px;
}